@{
    string Username = "Người dùng";
   // if(ViewBag.Username != null)
   // {
   // Username = "A";// Session["Username"].ToString();
    Username = Session["Username"].ToString();
    //}
}
<style>
    .navbar-default {
        color: white;
    }

    #myNavbar a {
        color: white;
    }
</style>

<nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0; background-color: #005299;border-radius: 0; border-color:#005299;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a>
            <b class="navbar-brand" style="color:white;">QUẢN LÝ GARA XE Ô TÔ</b>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right" style="right:10px;">

                <li><a href="#">Xin chào, @Username</a></li>
                <li><a href="@Url.Action("LoginForm", "Login")"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</nav>

