

<style>
    .nav-stacked a {
        color: white;
    }

    .nav-stacked .dropdown .active {
        color: #e6f3ff;
    }

    .nav-stacked .dropdown .dropdown-menu {
        background-color: #005fb3;
    }

        .nav-stacked .dropdown .dropdown-menu a {
            color: white;
        }
</style>
<div style="padding-left:10px;  height:615px; z-index: 1000;">
    <ul class="nav nav-pills nav-stacked" style="background-color:#005299;  border-color:none; height:100%">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> TỔNG QUAN</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> PHỤ TÙNG</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> KHÁCH HÀNG</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-th"></span> TIẾP NHẬN XE</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span> PHIẾU SỬA CHỮA</a></li>
        

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-usd"></span>
                QUẢN LÝ THU CHI
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-gbp"></span> PHIẾU THU</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-usd"></span> PHIẾU CHI</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> QUẢN LÝ BẢO HÀNH</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-barcode"></span> QUẢN LÝ NHẬP HÀNG</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-file"></span> BÁO CÁO</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-cog"></span>
                THIẾT LẬP
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> THAM SỐ HỆ THỐNG</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-lock"></span> QUẢN LÝ NGƯỜI DÙNG</a></li>

            </ul>
        </li>
    </ul>
</div>