@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuChiViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Phiếu chi mới";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">THÔNG TIN PHIẾU CHI MỚI</h3>
@using (Html.BeginForm("NhapPhieuChi", "PhieuChi", FormMethod.Post, new { @id = "#new_sale_bill_form" }))
{
    <div class="col-sm-4">
        <div class="form-group">
            <label class="input-sm">Mã phiếu :</label>
            <input class="form-control input-sm" type="text" maxlength="20" name="MA_PHIEUCHI" required />
        </div>
        <div class="form-group ">
            <label class="input-sm"> Ngày lập :</label>
            <input class="form-control input-sm" readonly="readonly" type="text" id="datebox_ngaylapphieu" value="@DateTime.Now.Date" maxlength="30" name="NGAYLAP" required />
        </div>
        <div class="form-group ">
            <label class="input-sm">Mã nhân viên:</label>
            <input class="form-control input-sm" type="text" value="@Session["UserID"]" readonly="readonly" maxlength="30" name="MA_NV" required /> <!--auto fill information of the staff-->
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group ">
            <label class="input-sm">Trị giá (VNĐ):</label>
            <input class="form-control input-sm" type="number" id="textbox_trigia" required maxlength="20" name="SOTIEN" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Dữ liệu không được trống')" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        </div>
        <div class="form-group ">
            <label class="input-sm">Nội dung chi:</label>
            <textarea class="form-control input-sm" rows="10" name="NOIDUNG" maxlength="1000" required></textarea>
        </div>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Lưu</button>
    </div>
}
