<head>
    <title>Lỗi trùng dữ liệu</title>
    <link href="~/Scripts/404.css" type="text/css" />
</head>
<body>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <section id="fof" class="clear">
                <!-- ####################################################################################################### -->
                <div class="positioned">
                    <div class="hgroup clear">
                        <h1>Trùng dữ liệu</h1>
                        <h2>Thông tin phiếu bảo hành (mã phiếu bào hành) đã tồn tại trong GARA</h2>
                    </div>
                    <p>Hãy kiểm tra lại mã phiếu hoặc chọn 1 mã phiếu khác vì phần mềm phát hiện mã phiếu này đã tồn tại trong kho</p>
                </div>
                <p class="clear"><a class="go-back" href="javascript:history.go(-1)">&laquo; Go Back</a> <a class="go-home" href="#">Go Home &raquo;</a></p>
                <!-- ####################################################################################################### -->
            </section>
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
        </div>
    </div>
</body>